name: Check markdown

on:
  pull_request:
    paths:
      - "*.md"
      - "**/*.md"

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Install the linter
        run: sudo gem install mdl
      - name: Check files
        run: make doc-check
