name: Coverage

on:
  pull_request:
    paths:
      - .github/workflows/coverage.yml
      - httpie/**/*.py
      - setup.*
      - tests/**/*.py

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: make install
      - run: make test-cover
      - run: make codecov-upload
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_REPO_TOKEN }}
      - run: make test-dist
